/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    font-family: 'Satisfy', cursive;
    margin: 0;
    padding: 0;
    border: none;
    font-size:95%;
}

body {
    width:95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
    min-width: 230px;
    margin: 0 auto;
}

.page-container {
    background-color:#f1d4f1;
    margin: 5px 0;
    overflow: auto;
}

header{
    padding: .7em .5em 0;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

header img{
     float: left;
     margin-right: 1em;
}

header h1{
     color: #272626;
     font-size: 2.7em;
     text-shadow: 2px 2px 5px #faf5f5;
     display: inline-flex;
}

.game-menu{
    text-align: center;
    margin: 1em auto;
    overflow: hidden;
    font-size: 1.7em;
    border-bottom: 1px solid #f1ebeb;;
    background-color: #5a3e4a;
    color: white;
}

.game-menu span{
    display: inline-block;
    width: 5em;
    line-height: 2.3em;
    cursor: pointer;
    margin: 0;
}

.active{
    background-color: #a52a2a;
}

#play-area, 
#instruction-area{
    margin: 2em auto;
    width: fit-content;
    overflow: auto;
}

#instruction-area{
    display: none;
}

.game-place .row{
    overflow: hidden;
    width: fit-content;
}

.row-border{
    border-bottom: .3em ridge #272626;   
}

.cell{
    width:5em;
    height:5em;
    float: left; 
    text-align: center;    
}

.cell-border{
    border-right:  .3em ridge #272626;
}

.cell img{
    margin: 0.5em;  
}

img{
    width:4.3em;
}

img.low_opacity{
    opacity: .2;
}
.players-score{
    margin: 2em auto;
    width: fit-content;
}

.players-score span{
    line-height: 1.8em;
    font-size: 1em;
    border-radius: .6em;
    background-color: #5a3e4a;
    color: #ffffff;
    display: inline-block;
    width: 3em;
    text-align: center;
}

#player{
    border: 2px solid #c70303;
    cursor: pointer;
}

#player[data-descr] {
    position: relative;
    text-decoration: underline;
    color: #c4bfbf;
    cursor: help;
    font-family:serif;
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 30px;
  width: 12em;
  border: 1px solid #a52a2a;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: .1em;
  color: #000000;
  font-size: .9em;
  z-index: 1;
}

span.score{
   border-top: 1px solid #ffffff;   
}

.players-score img{
    width: 20px;
    margin-top: .4em;
}

/* Dialog box background box*/
#boxBack {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
  }
   
  #boxBack.show { display: block; }
   
  /* Dialog box */
  #boxWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-width: 200px;
    max-width: 600px;
    padding: 0.6rem;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    
  }
  
  #boxText{
    margin: 1rem auto;
    font-family: serif;
  }

/* Dialog button */
  #boxWrap input{
    display: inline-block;
    margin: 0.5rem;
    padding: 0.7rem;
    background: #c70303;
    color: white;
  }

/* Media queries */
/* For larg screen sizes from 600px wide and up */
@media screen and (min-width: 600px) {
    * {
        font-size:100%;
    }
    body {
        width: 75%;   
    }
    img{
        width:64px;
    }
}