/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    font-family: 'Satisfy', cursive;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width:75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
    min-width: min-content;
    margin: 0 auto;
}

.page-container {
    background-color:#f1d4f1;
    margin: 5px 0;
    padding: 10px auto;
    overflow: auto;
}

header{
    padding: .5em .5em;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

header img{
     float: left;
     margin-right: 1em;
}

header h1{
     color: #272626;
     font-size: 3em;
     text-shadow: 2px 2px 5px rgb(250, 245, 245);
     display: inline-flex;
}

.game-area{
    margin: 2em auto;
    width: fit-content;
    overflow: auto;
}

.game-area .row{
    overflow: hidden;
}

.row-border{
    border-bottom: .3em ridge #272626;
    
}

.cell{
    width:5em;
    height:5em;
    float: left; 
    text-align: center;
    
}

.cell-border{
    border-right:  .3em ridge #272626;
}

.cell img{
    margin: 0.5em;  
}